#submit {
	background-color: #05aa83;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
#a2hs {
	background-color: green;
	border: none;
	color: white;
	text-align: center;
	width: 100%;
	text-decoration: none;
	display: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-box: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: #05aa83 !important;
	color: #ffffff;
}
